

body {
  text-align: center;
  background-color: #4e4949;
  font-family: 'Muli', sans-serif;
  justify-content: center;
}

.row{
  justify-items: center;
}

.player-col {
  border: 2px rgb(135, 218, 221);
  border-radius: 2px;
  height: 250px;
  width:400px;
  background:rgb(135, 218, 221);
  
}

h1 {
  color:white;
}

.rules{
  color:white;
}
.player-one-rolls-one{
  color:white;
  font-size: 24px;
}