

body {
  text-align: center;
  background-color: #0A4958;
  font-family: 'Muli', sans-serif;
  justify-content: center;
}

.row{
  justify-items: center;
}

.player-col {
  border: 2px aqua;
  border-radius: 4%;
  height: 250px;
  width:450px;
  background:aqua;
  opacity: 0.8;
  
}

h1 {
  color:white;
}

.jumbotron{
  color:black;
  height:250px;
  background-color: aqua;
  position: center;
  opacity: 0.8;
}
.player-one-rolls-one{
  color:white;
  font-size: 24px;
}