

body {
  text-align: center;
  font-family: 'Wallpoet', cursive;
  justify-content: center;
  background-color: cadetblue;
}

.row{
  justify-items: center;
}

#players-display{
  border-style:1px;

}

.player-col {
  border: 2px aqua;
  border-radius: 4%;
  height: 350px;
  width:450px;
  background:aqua;
  opacity: 0.8;
  
}

h1 {
  color:white;
}

.jumbotron{
  color:black;
  height:300px;
  background-color: aqua;
  position: center;
  opacity: 0.8;
}
.player-one-rolls-one{
  color:white;
  font-size: 24px;
}

.footer{
  background-color: rgb(107, 120, 128);
  height:100px;
  margin-top:20px;
  color:white;
}